.foa-recommand-main-title,
.favorite-item-text {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 0.25rem;
}

.foa-recommand-main-list {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    width: calc(100% + 1.5rem);
    margin-bottom: 1rem;
}

.favorite-item-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url('../../image/icon/icon-mylist/icon-mylist.svg');
    margin-right: 0.5rem;
}

.foa-recommand-main-list .item {
    padding: 0.75rem;
}

.foa-recommand-card-img-box {
    display: block;
    width: calc(100% - 3rem);
    height: auto;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin: auto;
    margin-bottom: 0.5rem;
}

.foa-recommand-card-img-box::after {
    content: '';
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    display: block;
}

.foa-recommand-card {
    position: relative;
    overflow: hidden;
    border-radius: 0.625rem;
    -webkit-box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.16);
    box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.16);
    padding: 0.75rem;
}

.foa-recommand-card-name {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 800;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0.625rem;
}

.foa-recommand-card-description-price-box {
    width: calc(100% - 3rem);
}

.foa-recommand-card-description-price {
    display: flex;
    align-items: baseline;
}

.foa-recommand-card-description-price-price {
    margin-right: 0.25rem;
}

.foa-recommand-card-description-price.custumer {
    color: #9EA0A3;
}

.member .foa-recommand-card-description-price-price {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 800;
}

.custumer .foa-recommand-card-description-price-price {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
}

.member .foa-recommand-card-description-price-title {
    font-size: 0.625rem;
    line-height: 1rem;
    font-weight: 700;
    margin-right: 0.25rem;
}

.custumer .foa-recommand-card-description-price-title {
    font-size: 0.625rem;
    line-height: 1rem;
    font-weight: 700;
    margin-right: 0.25rem;
}

.foa-recommand-card-description {
    display: flex;
    align-items: center;
}

.foa-recommand-card-description-btn-box {
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.foa-recommand-card-description-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foa-recommand-card-description-btn::before {
    content: '';
    width: 2rem;
    height: 2rem;
    background: url('../../image/FOA/icon/icons-cart.svg');
    background-size: 2rem 2rem !important;
    background-position: center !important;
}

.foa-recommand-card-description-btn.disabled::before,
.foa-recommand-card-description-btn:disabled::before,
.foa-recommand-card-description-btn[disabled]::before {
    background: url('../../image/FOA/icon/icons-cart-g.svg');
}

.foa-recommand-card-tool {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-share2earn,
.btn-share-rec {
    width: calc(100% - 2.5rem - 1rem);
    height: 2.25rem;
    border-radius: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-share2earn-icon {
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../image/FOA/icon/icon-share2earn.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-share-rec-icon {
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../image/icon/icon-shere-w.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-tomylist {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-tomylist::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../../image/icon/icon-mylist/icon-mylist-plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
}

.btn-share2earn-content,
.btn-share-rec-content {
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
}

.btn-share2earn-title,
.btn-share-rec-title {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
}

.btn-share2earn-price {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    margin-left: 0.25rem;
}

.foa-recommand-main-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foa-recommand-main-text {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
    color: #9EA0A3;
}

.foa-card-tag {
    z-index: 1;
    background: #F1F2FF;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1rem;
    font-size: 0.625rem;
    font-weight: 800;
    color: #38539A;
}

@media(min-width:1024px) {
    .foa-recommand-card-arrow {
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        background: rgba(237, 237, 237, 0.6);
        top: calc(50% - 1rem);
        transform: translateY(-50%);
        -webkit-box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.16);
        box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.16);
        z-index: 1;
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .owl-nav button.disabled .foa-recommand-card-arrow {
        display: none !important;
    }
    .foa-recommand-card-arrow::after {
        font-family: Amway Icon !important;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2.5rem;
        color: #FFFFFF;
    }
    .foa-recommand-card-arrow-prev {
        left: 0;
    }
    .foa-recommand-card-arrow-prev::after {
        content: 'b';
        margin-right: 0.25rem;
    }
    .foa-recommand-card-arrow-next {
        right: 0;
    }
    .foa-recommand-card-arrow-next::after {
        content: 'c';
        margin-left: 0.25rem;
    }
}

@media(max-width:1023px) {
    .btn-share2earn,
    .btn-share-rec {
        width: calc(100% - 2.5rem - 0.25rem);
    }
    .foa-recommand-main-list .owl-stage-outer {
        padding-left: 1.5rem;
    }
    .foa-recommand-main-list {
        width: calc(100% + 0.75rem);
    }
    .foa-recommand-main-title {
        padding-left: 1.5rem;
    }
    .foa-recommand-card {
        width: 11rem;
    }
    .foa-recommand-main-text {
        padding-left: 1.5rem;
    }
    .btn-share2earn-title,
    .btn-share-rec-title {
        font-size: 0.75rem;
    }
    .btn-share2earn-icon,
    .btn-share-rec-icon {
        width: 1rem;
        height: 1rem;
    }
}

@media (max-width: 320px) {
    .foa-recommand-card {
        width: 12rem;
    }
}