.checkout-success-banner {
    width: 100%;
    height: 16.5rem;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../image/FOA/theme-order/order_success.svg');
    overflow: hidden;
}
.checkout-success-banner.failed {
    background-image: url('../../image/FOA/theme-order/order_failed.svg');
}
.checkout-success-banner.waiting {
    background-image: url('../../image/FOA/theme-order/order_waiting.svg');
}

@media (max-width: 1023px) {
    .amway-header, .amway-header-modal-all {
        display: none;
    }
    .amway-main-layout {
        padding-top: 0;
    }
    .checkout-success-banner {
        position: relative;
        padding-top: 1.5rem;
        height: 21.5rem;
        background-position: top center;
        background-image: url('../../image/FOA/theme-order/order_success_mb.svg');
    }
    .checkout-success-banner.failed {
        background-image: url('../../image/FOA/theme-order/order_failed_mb.svg');
    }
    .checkout-success-banner.waiting {
        background-image: url('../../image/FOA/theme-order/order_waiting_mb.svg');
    }
    .checkout-success-banner::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2rem;
        width: 100%;
        height: 18rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-image: url('../../image/creator/illustration/background-pad.svg');
    }
}

@media(max-width: 875px) {
    .checkout-success-banner::before {
        bottom: -5rem;
    }
}

@media(max-width: 708px) {
    .checkout-success-banner::before {
        bottom: -7rem;
    }
}

@media(max-width: 430px) {
    .checkout-success-banner::before {
        bottom: -8rem;
    }
}

@media(max-width: 425px) {
    .checkout-success-banner {
        width: 100%;
        min-height: 22rem;
    }
}

@media(max-width: 492px) and (min-width: 431px) {
    .checkout-success-banner::before {
        bottom: -8rem;
    }
}

/* banner */
.checkout-success-banner-img-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-success-banner-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../image/FOA/illustration/order_success.svg');
}
.failed .checkout-success-banner-img {
    background-image: url('../../image/FOA/illustration/order_failed.svg');
}
.waiting .checkout-success-banner-img {
    background-image: url('../../image/FOA/illustration/order_waiting.svg');
}

.checkout-success-banner-text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #38539A;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.failed .checkout-success-banner-text {
    color: #D91734;
}
.waiting .checkout-success-banner-text {
    color: #A36A00;
}

.checkout-success-banner-detail {
    color: #38539A;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}
.failed .checkout-success-banner-detail {
    color: #D91734;
}
.waiting .checkout-success-banner-detail {
    color: #A36A00;
}

@media(min-width:1024px) {
    .checkout-success-banner-img {
        width: 12.5rem;
        height: 12.5rem;
        margin-right: 1.5rem;
    }
    .checkout-success-banner-area {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .checkout-success-banner-area {
        padding-top: 2rem;
    }
    .checkout-success-banner-detail {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
    }
}

@media(max-width:1023px) {
    .checkout-success-banner-img {
        width: 6.75rem;
        height: 6.75rem;
    }
    .checkout-success-banner-text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .checkout-success-banner-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/* Amplus banner */
.amplus-banner {
    display: flex;
    align-items: center;
    height: 5.688rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.625rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../image/FOA/banner/amplus-bg.svg");
}
.amplus-banner-image {
    width: 4.25rem;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("../../image/FOA/illustration/amplus-point.svg");
}
.amplus-banner-content-title {
    font-weight: 700;
    line-height: 1.625rem;
    color: #38539A;
}
.amplus-banner-content-title span {
    font-size: 0.813rem;
    font-weight: 500;
    line-height: 1.313rem;
}
.amplus-banner-content-text {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #2C2C2C;
}

.checkout-success-area {
    padding-bottom: 1.5rem;
}
.checkout-order-container {
    display: flex;
    justify-content: center;
}
.checkout-order-container-box {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: 0.25rem solid #F8F8F8;
}

.checkout-success-title {
    font-weight: 700;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
}

.checkout-success-payment {
    padding-bottom: 1.5rem;
}
.checkout-success-payment-datail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    line-height: 1.5rem;
}

.checkout-back-home {
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cop {
    height: 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1.5rem;
}

@media (min-width: 1024px) {
    .checkout-order-container-box {
        max-width: 580px;
        width: 100%;
    }
    .amplus-banner {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .amplus-banner-image {
        margin-right: 1rem;
    }
    .checkout-order-payment-tool {
        padding-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .checkout-order-payment-tool.two-btn-area button:first-child {
        margin-right: 1rem;
    }
    .btn-cop {
        width: 17.5rem;
    }
}

@media (max-width: 1023px) {
    .checkout-order-container-box {
        width: 100%;
    }
    .checkout-back-home {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .checkout-order-payment-tool {
        padding: 1.5rem 1.5rem 0 1.5rem;
    }
    .checkout-order-payment-tool.two-btn-area button:first-child {
        margin-bottom: 1rem;
    }
    .btn-cop {
        width: 100%;
    }
}

@media (max-width: 708px) {
    .checkout-success-area {
        margin-top: -4rem;
    }
}

@media (max-width: 425px) {
    .checkout-success-area {
        margin-top: -5.25rem;
    }
}

/* checkout waiting */
.checkout-waitting-alert-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 0.625rem;
    background-color: #FDF4F4;
}
.checkout-waitting-alert-text {
    color: #D91734;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
}

/* checkout failed */
.checkout-failed {
    padding-top: 1.5rem;
}
.checkout-success-banner-detail-failed {
    display: flex;
    align-items: flex-start;
    max-width: 16.25rem;
}
.checkout-success-banner-detail-failed-icon {
    margin-top: 0.375rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 0.5rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../image/creator/icon/icon-alert.svg');
}
.checkout-failed-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}
.checkout-failed-list-num {
    font-weight: 700;
}
.checkout-failed-box-tool {
    margin-top: 0.75rem;
}

.btn-cft {
    height: 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1.5rem;
}

.checkout-order-payment-title {
    padding-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    padding-bottom: 0.125rem;
}

.checkout-order-payment-title-des {
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding-bottom: 0.938rem;
    color: #9EA0A3;
}

.checkout-order-payment-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.checkout-order-payment-qr {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: contain;
    object-position: center;
}

.checkout-order-payment-barcode {
    width: 17.5rem;
    height: auto;
}

.checkout-order-payment-ref {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.75rem;
}

.checkout-order-payment-ref-number {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkout-order-payment-note {
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #9EA0A3;
    padding-top: 0.25rem;
    padding-bottom: 1rem;
}

.checkout-order-payment-note-title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.checkout-order-payment-note-ul {
    margin-top: 0.875rem;
    margin-bottom: 1.5rem;
}
.checkout-order-payment-note-li {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    display: flex;
}
.checkout-order-payment-note-li::before {
    content: '•';
    margin-right: 0.25rem;
    display: block;
}

.checkout-success-member-area {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.checkout-success-member-price-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}
.checkout-success-member-amplus-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    .btn-cft {
        width: 17.5rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1023px) {
    .btn-cft {
        width: 100%;
    }
}