.amway-share2earn-bb {
    margin-top: 2rem;
    max-width: 23.438rem;
    width: 100%;
    height: auto;
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.amway-share2earn-bb::after {
    content: '';
    display: block;
    padding-bottom: 35%;
    width: 100%;
    height: 100%;
}

.amway-share2earn-bb-box {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    left: 0.5rem;
}

.amway-share2earn-bb-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
}

.amway-share2earn-bb-text {
    font-size: 0.825rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: center;
}

.btn-share2earn {
    width: calc(100% - 3rem);
    height: 2.25rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /*  box-sizing: content-box; */
}

.btn-share2earn-mylist:disabled::before,
.btn-share2earn-mylist[disabled]::before,
.btn-share2earn-mylist::before {
    display: none !important;
}

.btn-share2earn-icon {
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../image/FOA/icon/icon-share2earn.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-share2earn-mylist:disabled .btn-share2earn-icon,
.btn-share2earn-mylist[disabled] .btn-share2earn-icon,
.btn-share2earn-mylist.disabled .btn-share2earn-icon {
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../image/FOA/icon/icon-share2earn-g.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-share-rec-icon {
    width: 1.5rem;
    height: 1.5rem;
    background:url('../../image/icon/icon-shere-w.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-share2earn-content {
    padding-left: 0.5rem;
}

.btn-share2earn-title {
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 1rem;
}

.btn-share2earn-price {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
}

@media(max-width:1023px) {
    .amway-share2earn-bb-area {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.share2earn-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2c2c2c;
    color: #FFFFFF;
}

.share2earn-bar-box-content {
    display: flex;
    align-items: center;
}

.share2earn-bar-box-icon {
    width: 1rem;
    height: 1rem;
    background: url('../../image/FOA/icon/icon-share2earn.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.25rem;
}

.btn-outline-black .btn-share2earn-icon {
    width: 1rem;
    height: 1rem;
    background: url('../../image/FOA/icon/icon-share2earn-b.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.25rem;
}

.btn-outline-black:hover .btn-share2earn-icon {
    width: 1rem;
    height: 1rem;
    background: url('../../image/FOA/icon/icon-share2earn.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
}

.btn-share2earn-icon ,.btn-share-rec-icon{
    margin-right: 0.5rem;
}

.share2earn-bar-box-text {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.share2earn-bar-box-link {
    text-decoration: underline;
}

.share2earn-bar-box-arrow::before {
    content: 'c';
    display: block;
    font-family: Amway Icon !important;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
}

.btn-share2earn-mylist {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    height: 3rem;
    border-radius: 1.5rem;
}

.btn-share2earn-mylist .btn-share2earn-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.pdp-bar-dt-tool {}

.pdp-bar-price {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 700;
}

.pdp-bar-title {
    font-size: 0.813rem;
    line-height: 1.313rem;
    font-weight: 500;
}

@media(min-width:1024px) {
    .btn-cart-on-pdp-with-share2earn {
        min-width: 9rem;
    }
    .btn-share2earn-pdp {
        width: 9rem;
        box-sizing: content-box;
    }
    .btn-share2earn-content {
        display: flex;
        align-items: center;
    }
    .btn-share2earn-title {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5rem;
        margin-right: 0.25rem;
    }
    .share2earn-bar-box {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 3.5rem;
    }
    .btn-share2earn-mylist {
        width: 12rem;
    }
}

@media(max-width:1023px) {
    .btn-cart-on-pdp-with-share2earn {
        content: '';
        font-size: 0;
        padding: 0;
        width: 2.5rem !important;
        height: 2.5rem !important;
        border-radius: 1.25rem;
    }
    .btn-cart-on-pdp-with-share2earn::before {
        margin: 0;
    }
    .btn-share2earn-pdp {
        width: 12rem;
        height: 2.5rem !important;
        border-radius: 1.5rem;
        box-sizing: border-box;
    }
    .share2earn-bar {
        padding-top: 1rem;
        height: 5rem;
        bottom: 3.5rem;
        padding-bottom: 1rem;
    }
    .share2earn-bar-box {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .amway-dt-btn-bar.btn-share2earn-box {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .btn-share2earn-mylist {
        width: 100%;
    }
}