.profile-cropper {
    width: 100%;
    height: 22rem;
    padding-bottom: 3rem;
}

.croppie-container .cr-resizer,
.croppie-container .cr-viewport {
    position: absolute;
    border: 2px solid transparent;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 2000px 2000px rgba(255, 255, 255, .4);
    z-index: 0;
}

.croppie-container .cr-slider-wrap {
    width: calc(100% - 6rem);
    margin: 1rem 0;
    margin-top: 2rem;
    margin-left: 1.5rem;
    text-align: center;
}

.actionUpload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

a.actionUpload {
    position: relative;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
}

.btn-rotate {
    margin-top: 1.25rem;
    width: 2rem;
    height: 2rem;
    background: url('../../image/icon/icon_tool_img/icon-rotate-black.svg');
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    position: absolute;
    top: 23.6rem;
    right: 3rem;
}

.cr-slider-mod {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, #2C2C2C), color-stop(15%, #9EA0A3));
    background-image: -moz-linear-gradient(left center, #2C2C2C 0%, #2C2C2C 15%, #9EA0A3 15%, #9EA0A3 100%);
}

.cr-slider-mod::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

.cr-slider-mod:focus {
    outline: none;
    border: none;
}

.cr-slider-mod::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #2C2C2C;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.cr-slider-mod::-moz-range-thumb {
    -moz-appearance: none !important;
    background-color: #2C2C2C;
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

@media(max-width:1023px) {
    .profile-cropper {
        padding-right: 1.5rem;
    }
    .croppie-container .cr-slider-wrap {
        width: calc(100% - 3rem);
        margin: 1rem 0;
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
    }
    .btn-rotate {
        top: 24rem;
        right: 1.5rem;
    }
}