.amway-card-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.has-filter {
    display: flex;
}

.amway-card {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25% - 1.25rem);
    max-width: calc(25% - 1.25rem);
    margin: 0.625rem;
    padding-bottom: 1rem;
    position: relative;
}

.has-filter .amway-card {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.33% - 1.25rem);
    max-width: calc(33.33% - 1.25rem);
    margin: 0.625rem;
    padding-bottom: 0.625rem;
    cursor: pointer;
}

.amway-filter-pd {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25% - 1.25rem);
    max-width: calc(25% - 1.25rem);
    width: 100%;
    margin: 0.625rem;
    padding-bottom: 0.625rem;
}

.afpd-main {
    padding: .5rem 1rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.afpd-main-control {
    width: 1rem;
    height: 0.125rem;
    background: #9EA0A3;
}

.amway-filter-pd {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0rem 0.188rem 0.375rem 0rem rgba(56, 83, 154, 0.16);
    -moz-box-shadow: 0rem 0.188rem 0.375rem 0rem rgba(56, 83, 154, 0.16);
    box-shadow: 0rem 0.188rem 0.375rem 0rem rgba(56, 83, 154, 0.16);
    border-radius: .5rem;
}

@media(max-width:1023px) {
    .amway-card {
        flex-basis: calc(25% - 1.5rem);
        max-width: calc(25% - 1.5rem);
        margin: 0.75rem;
        padding-bottom: 0.5rem;
        -webkit-box-shadow: 0rem 0.188rem 0.375rem 0rem rgba(56, 83, 154, 0.16);
        -moz-box-shadow: 0rem 0.188rem 0.375rem 0rem rgba(56, 83, 154, 0.16);
        box-shadow: 0rem 0.188rem 0.375rem 0rem rgba(56, 83, 154, 0.16);
        border-radius: .5rem;
    }
}

@media(max-width:992px) {
    .amway-filter-pd {
        flex-basis: calc(33.33% - 1.5rem);
        max-width: calc(33.33% - 1.5rem);
    }
    .amway-card {
        flex-basis: calc(33.33% - 1.5rem);
        max-width: calc(33.33% - 1.5rem);
    }
    .has-filter .amway-card {
        flex-basis: calc(50% - 1.5rem);
        max-width: calc(50% - 1.5rem);
    }
}

@media(max-width:768px) {
    .amway-filter-pd {
        flex-basis: calc(50% - 1.5rem);
        max-width: calc(50% - 1.5rem);
    }
    .amway-card {
        flex-basis: calc(50% - 1.5rem);
        max-width: calc(50% - 1.5rem);
    }
    .has-filter .amway-card {
        flex-basis: calc(100% - 1.5rem);
        max-width: calc(100% - 1.5rem);
    }
}

.amway-card:hover {
    -webkit-box-shadow: 0rem 0.188rem 0.375rem 0rem rgba(56, 83, 154, 0.16);
    -moz-box-shadow: 0rem 0.188rem 0.375rem 0rem rgba(56, 83, 154, 0.16);
    box-shadow: 0rem 0.188rem 0.375rem 0rem rgba(56, 83, 154, 0.16);
    border-radius: .5rem;
}

.amway-card.active {
    -webkit-box-shadow: 0rem 0.188rem 0.375rem 0rem rgba(56, 83, 154, 0.16);
    -moz-box-shadow: 0rem 0.188rem 0.375rem 0rem rgba(56, 83, 154, 0.16);
    box-shadow: 0rem 0.188rem 0.375rem 0rem rgba(56, 83, 154, 0.16);
    border-radius: .5rem;
}

.amway-card-check {
    position: absolute;
    top: 1.75rem;
    left: 1.75rem;
    z-index: 1;
}

.amway-card-share {
    position: absolute;
    top: 1.75rem;
    right: 1.75rem;
    z-index: 2;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 0.25rem;
}

.amway-card-share::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../../image/icon/icon-mylist/icon-mylist-plus.svg');
    background-size: 1.25rem 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
}

.amway-card-share.active::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../../image/icon/icon_like/icon-fav-a.svg');
    background-size: 1.5rem 1.5rem;
}

.acc-input {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    opacity: 0;
}

.amway-card-container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.acc-label {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    background: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.acc-input:checked~.acc-label {
    background: #2C2C2C;
}

.acc-label::before {
    content: 'g';
    /* font-family: 'amway-icon'; */
    font-family: Amway Icon !important;
    color: #FFF;
    font-weight: 700;
}

@media(max-width:1023px) {
    .amway-card-container {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .amway-card-check {
        position: absolute;
        top: 0.75rem;
        left: 0.75rem;
        z-index: 1;
    }
    .amway-card-share {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        z-index: 2;
    }
}

.amway-card-box-img {
    width: calc(100% - 2.5rem);
    margin-right: 1.25rem;
    margin-left: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1.25rem;
    /* padding-bottom: calc(100% - 2.5rem); */
    position: relative;
    height: auto;
}

.amway-card-box-img:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

@media(max-width:1023px) {
    .amway-card-box-img {
        width: calc(100% - 1rem);
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        margin-bottom: 0.375rem;
        margin-top: 0.5rem;
    }
}

.amway-card-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amway-promotion-in-card {
    width: 3rem;
    height: 3rem;
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
}

.amway-promotion-in-card-area {
    display: block;
    padding-bottom: 100%;
}

.amway-promotion-in-card-img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

.amway-card-code {
    color: #9EA0A3;
    font-weight: 500;
    font-size: 0.813rem;
    line-height: 1.313rem;
}

.amway-card-text {
    margin-bottom: 1.875rem;
}

@media(max-width:1023px) {
    .amway-card-text {
        margin-bottom: 0.5rem;
    }
}

.amway-card-name {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 3rem;
}

.amway-card-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.amway-card-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amway-card-statut {
    display: flex;
    align-items: center;
    font-size: 0.813rem;
    line-height: 1.313rem;
}

.amway-card-statut .stock-status-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 1.5rem 1.5rem !important;
    margin-right: .5rem;
}

.amway-card-statut.--soon {
    color: #E38A62;
}

.amway-card-statut.--available {
    color: #74B86D;
}

.amway-card-statut.--backOrder {
    color: #FBBF46;
}

.amway-card-statut.--outOfStock {
    color: #C84249;
}

.amway-card-statut.--onShop {
    color: #38539a;
}

@media(max-width:1023px) {
    .amway-card-statut {
        display: flex;
        align-items: center;
        font-size: 0.625rem;
        line-height: 0.813rem;
    }
    .amway-card-statut .stock-status-icon {
        width: 1rem;
        height: 1rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 1rem 1rem !important;
        margin-right: .25rem;
    }
}

.amway-card-price {
    width: 100%;
    font-size: 0.813rem;
    line-height: 0.813rem;
    font-weight: 500;
    padding-bottom: .5rem;
}

@media(max-width:1023px) {
    .amway-card-price {
        width: auto;
        height: 3.438rem;
    }
}

.amway-card-member-price {
    display: flex;
    align-items: center;
    color: #2C2C2C;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

@media(max-width:1023px) {
    .amway-card-member-price {
        display: block;
    }
}

.amway-card-member-price .price {
    font-size: 1.125rem;
    font-weight: 700;
    margin-left: .5rem;
}

.amway-card-price-m .price {
    font-size: 1.125rem;
    line-height: 1.813rem;
    font-weight: 700;
}

.amway-card-price-m .title {
    font-size: 0.813rem;
    line-height: 0.813rem;
    font-weight: 500;
    color: #9EA0A3;
}

.amway-card-price-m .price-member {
    font-size: 0.813rem;
    line-height: 0.813rem;
    font-weight: 700;
    color: #2C2C2C;
    display: flex;
    align-items: center;
}

.amway-card-price-m .price-member-price {
    font-size: 1.125rem;
    line-height: 1.813rem;
    font-weight: 700;
    color: #2C2C2C;
    margin-left: 0.25rem;
}

.amway-card-price-m .price-retail {
    font-size: 0.813rem;
    line-height: 0.813rem;
    font-weight: 500;
    color: #9EA0A3;
    display: flex;
    align-items: center;
}

.amway-card-price-m .price-retail-price {
    margin-left: 0.25rem;
}

.amway-card-price-m .PVBV {
    font-size: 0.813rem;
    line-height: 0.813rem;
    font-weight: 500;
    color: #E38A62;
    display: flex;
}

.amway-card-retail-price {
    display: flex;
    align-items: center;
}

.amway-card-retail-price .price {
    margin-left: .5rem;
}

@media(max-width:1200px) {
    .amway-card-price-m .PVBV {
        display: block;
    }
    .amway-card-price-m .PVBV span {
        display: none;
    }
}

@media(max-width:1023px) {
    .amway-card-retail-price {
        justify-content: flex-start;
        color: #9EA0A3;
        font-size: 0.813rem;
        font-weight: 500;
    }
    .amway-card-member-price .price {
        margin-left: 0rem;
    }
    .amway-card-retail-price .title {
        margin-right: 0.25rem;
    }
    .amway-card-member-price .price {
        font-size: 1.125rem;
        line-height: 1.125rem;
    }
    .amway-card-price-m .PVBV {
        font-size: 0.688rem;
        display: block;
    }
    .amway-card-price-m .price {
        font-size: 1rem;
        line-height: 1.625rem;
    }
    .amway-card-price-m .title {
        font-size: 0.688rem;
        line-height: 0.688rem;
    }
    /* .amway-card-price-m {
        height: 3.438rem;
    } */
    .amway-card-price-m .price-retail-price {
        font-size: 0.688rem;
        line-height: 1rem;
    }
    .amway-card-price-m .price-member-price {
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 700;
        color: #2C2C2C;
        margin-left: 0rem;
    }
    .amway-card-price-m .price-member {
        display: block;
    }
}

.amway-card-btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background: #002F5F;
    color: #FAFAFA;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.amway-card-btn:hover {
    background: #03274C;
}

.amway-card-btn::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../../image/icon/icon-cart.svg');
    background-size: 1.5rem 1.5rem;
}

.amway-card-btn.disabled,
.amway-card-btn:disabled,
.amway-card-btn[disabled] {
    background: #EDEDED;
    color: #9EA0A3;
}

.amway-card-btn.disabled::after,
.amway-card-btn:disabled::after,
.amway-card-btn[disabled]::after {
    background: url('../../../image/icon/icon-cart-w.svg');
    background-size: 1.5rem 1.5rem;
}

@media(max-width:1023px) {
    .amway-card-btn {
        width: 2.25rem;
        height: 2.25rem;
    }
    .amway-card-btn .icon-cart {
        width: 1.125rem;
        height: 1.125rem;
    }
    .row-ten {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}


/* wishlist */

.wishlist-content {
    padding-top: 2.625rem;
    padding-bottom: 5rem;
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.wishlist-content-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.wishlist-card {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    width: 100%;
    padding: .625rem;
}

.wishlist-card:hover .wlc-gallery {
    background: #c3c4c5;
}

.wishlist-card-body {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    -webkit-box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 47, 95, 0.16);
    -moz-box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 47, 95, 0.16);
    box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 47, 95, 0.16);
}

.wlc-gallery {
    position: relative;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background: #F8F8F8;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.wlc-no-product {
    margin: .5rem;
    width: 100%;
}

.wlc-no-product::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.wlc-no-pd {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wlc-no-pd-img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.wlc-no-pd-title {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 700;
    color: #9EA0A3;
    text-align: center;
    padding-top: 1rem;
}

.wlc-no-pd-detail {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 700;
    color: #9EA0A3;
    text-align: center;
}

@media(max-width:1023px) {
    .wlc-no-pd-title {
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 700;
        color: #9EA0A3;
        text-align: center;
        padding-top: 1rem;
    }
    .wlc-no-pd-detail {
        font-size: 0.813rem;
        line-height: 1.2rem;
        font-weight: 700;
        color: #9EA0A3;
        text-align: center;
    }
}

@media(max-width:767px) {
    .wlc-no-pd {
        padding: 1rem .25rem;
    }
    .wlc-no-pd-title {
        font-size: 0.8rem;
        line-height: 1.25rem;
        font-weight: 700;
        color: #9EA0A3;
        text-align: center;
        padding-top: 1rem;
    }
    .wlc-no-pd-detail {
        font-size: 0.75rem;
        line-height: 1.2rem;
        font-weight: 700;
        color: #9EA0A3;
        text-align: center;
    }
    .wlc-no-pd-img {
        max-width: 30%;
        height: auto;
    }
}

.wlc-g-pic-area {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
    padding: .5rem;
}

.wlc-g-pic {
    background: #ffffff;
    border-radius: 0.25rem;
    text-align: center;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.wlc-g-img-area {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wlc-g-img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.wlc-footer {
    background: #FFFFFF;
    padding: 0.313rem 1rem 0.375rem 1rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.wlc-f-title {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.813rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.wlc-f-detail {
    display: flex;
    align-items: center;
}

.wlc-f-d-amount {
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #2C2C2C;
    margin-right: .25rem;
}

.wlc-f-d-date {
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #9EA0A3;
}

.more-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    background: rgba(44, 44, 44, 0.64);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 2.375rem;
    line-height: 3.875rem;
    font-weight: 700;
}

@media(max-width:1023px) {
    .wishlist-content {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin: 0;
        padding-top: 0rem;
    }
    .wishlist-card {
        padding: 0.75rem;
    }
}

@media(max-width:992px) {
    .wishlist-card {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
}

@media (max-width: 768px) {
    .wishlist-card {
        flex-basis: 50%;
        max-width: 50%;
    }
    .wishlist-card-body {
        border-radius: .25rem;
    }
    .wlc-gallery {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        padding: 0.25rem;
    }
    .wlc-g-pic-area {
        padding: .25rem;
    }
    .wlc-footer {
        padding: 0.313rem .5rem 0.375rem .5rem;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }
    .wlc-f-title {
        font-size: 1rem;
        line-height: 1.25rem;
        height: 2.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .more-pic {
        border-radius: .25rem;
        font-size: 1.125rem;
        line-height: 2.063rem;
    }
}


/* promotion */

.amway-dt-promotion {
    padding-bottom: 4rem;
}

.amway-dt-promotion-list {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}

.item-rec {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: .625rem;
}

.card-promotion {
    cursor: pointer;
    border-radius: .5rem;
    -webkit-box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(56, 83, 154, 0.16);
    -moz-box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(56, 83, 154, 0.16);
    box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(56, 83, 154, 0.16);
    background: #FFFFFF;
}

.card-promotion-img {
    height: 9.75rem;
    width: 100%;
    background-size: cover !important;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.card-promotion-detail-text {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #2C2C2C;
    height: 3.15rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 1.5rem;
}

.card-promotion-detail-datetime {
    display: flex;
    align-items: center;
}

.card-promotion-detail-date,
.card-promotion-detail-time {
    font-size: 0.813rem;
    line-height: 1rem;
    color: #9EA0A3;
}

.card-promotion-detail-date {
    width: 5.5rem;
}

.card-promotion-detail-time {
    width: 10rem;
}

.card-promotion-detail {
    padding-left: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.875rem;
}

@media(max-width:1200px) {
    .card-promotion-detail-datetime {
        display: block;
    }
}

@media(max-width:1023px) {
    .item-rec {
        width: 17rem !important;
    }
    .amway-dt-promotion-list .slick-list {
        overflow: unset;
    }
    .card-promotion-detail-datetime {
        display: block;
    }
    .amway-dt-promotion-list {
        margin-left: 1.5rem;
        margin-right: 0rem;
    }
    .amway-dt-promotion-area {
        overflow: hidden;
    }
    .card-promotion-detail {
        padding: 0.625rem 0.75rem;
    }
}


/* recommand */

.amway-dt-recommend-list .amway-card-container {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.amway-dt-recommend-list .amway-card-check {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    z-index: 1;
}

.amway-dt-recommend-list .amway-card-share {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 2;
}

.amway-dt-recommend-list .amway-card-box-img {
    width: calc(100% - 1rem);
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.375rem;
    margin-top: 0.5rem;
}

.amway-dt-recommend-list .amway-card-text {
    margin-bottom: 0.5rem;
}

.amway-dt-recommend-list .amway-card-statut {
    display: flex;
    align-items: center;
    font-size: 0.625rem;
    line-height: 0.813rem;
}

.amway-dt-recommend-list .amway-card-statut .stock-status-icon {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 1rem 1rem !important;
    margin-right: .25rem;
}

.amway-dt-recommend-list .amway-card-price {
    width: auto;
    height: 3.438rem;
}

.amway-dt-recommend-list .amway-card-member-price {
    display: block;
}

.amway-dt-recommend-list .amway-card-retail-price {
    justify-content: flex-start;
    color: #9EA0A3;
    font-size: 0.813rem;
    font-weight: 500;
}

.amway-dt-recommend-list .amway-card-member-price .price {
    margin-left: 0rem;
}

.amway-dt-recommend-list .amway-card-retail-price .title {
    margin-right: 0.25rem;
    font-size: 0.688rem;
    line-height: 0.688rem;
}

.amway-dt-recommend-list .amway-card-retail-price .title {
    margin-right: 0.25rem;
    font-size: 0.688rem;
    line-height: 0.688rem;
}

.amway-dt-recommend-list .amway-card-member-price .price {
    font-size: 1.125rem;
    line-height: 1.125rem;
}

.amway-dt-recommend-list .amway-card-price-m .PVBV {
    font-size: 0.688rem;
    display: block;
}

.amway-dt-recommend-list .amway-card-price-m .PVBV span {
    display: none;
}

.amway-dt-recommend-list .amway-card-price-m .price {
    font-size: 1rem;
    line-height: 1.625rem;
}

.amway-dt-recommend-list .amway-card-price-m .price-member {
    display: block;
    font-size: 0.688rem;
}

.amway-dt-recommend-list .amway-card-price-m .price-retail-price {
    font-size: 0.688rem;
    line-height: 1rem;
}

.amway-dt-recommend-list .amway-card-price-m .price-retail {
    font-size: 0.688rem;
}

.amway-dt-recommend-list .amway-card-price-m .price-member-price {
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 700;
    color: #2C2C2C;
    margin-left: 0rem;
}

.amway-dt-recommend-list .amway-card-btn {
    width: 2.25rem;
    height: 2.25rem;
}

.amway-dt-recommend-list .amway-card-btn .icon-cart {
    width: 1.125rem;
    height: 1.125rem;
}

.amway-dt-recommend {
    padding-bottom: 4rem;
}

.amway-dt-recommend-list {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}

.amway-dt-recommend-list .amway-card {
    max-width: 100%;
}

@media(max-width:1023px) {
    .amway-dt-recommend-list .slick-list {
        overflow: unset;
    }
    .card-recommend-detail-datetime {
        display: block;
    }
    .amway-dt-recommend-list {
        margin-left: 1.5rem;
        margin-right: 0rem;
    }
    .amway-dt-recommend-area {
        overflow: hidden;
    }
}