.amway-input-area {
    border-radius: 0.625rem;
    border: 0.125rem solid #EDEDED;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}

.amway-input-area:focus-within,
.amway-input-area.active {
    border: 0.125rem solid #2c2c2c;
}

.amway-input {
    height: 2rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.amway-textarea {
    font-weight: 700;
    border-radius: 0.625rem;
    border: 0.125rem solid #EDEDED;
}

.amway-textarea:focus-within,
.amway-input-area.active {
    border: 0.125rem solid #2c2c2c;
}

.amway-input-area.disabled {
    background: #EDEDED;
    border: 0.125rem solid #EDEDED;
}

.amway-input[disabled],
.amway-input:disabled {
    background: #EDEDED;
    font-weight: 700;
}

.amway-input::-webkit-input-placeholder {
    /* Edge */
    font-weight: 700;
    color: rgba(44, 44, 44, 0.5);
}

.amway-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 700;
    color: rgba(44, 44, 44, 0.5);
}

.amway-input::placeholder {
    font-weight: 700;
    color: rgba(44, 44, 44, 0.5);
}

.amway-textarea::-webkit-input-placeholder {
    /* Edge */
    font-weight: 700;
    color: rgba(44, 44, 44, 0.5);
}

.amway-textarea:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 700;
    color: rgba(44, 44, 44, 0.5);
}

.amway-textarea::placeholder {
    font-weight: 700;
    color: rgba(44, 44, 44, 0.5);
}

.mz-integer-input__quantity.--active {
    border: 0.125rem solid #2c2c2c;
}

.dd-marke-check .mz-dropdown__button {
    border-radius: 0.625rem;
    border: 0.125rem solid #2c2c2c;
}

.dd-marke-check:not(.filter-in) .mz-cart-item-variant-dropdown__image {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
}

.mz-dropdown__menu.dropdown-menu {
    border-radius: 0.625rem;
    border: 0.125rem solid #2c2c2c;
    overflow-y: hidden;
}


/* .dd-marke-check .mz-dropdown__menu.dropdown-menu {
    padding-top: 0.2rem;
    border-radius: 0.188rem;
    border-color: transparent;
} */

.mz-dropdown__menu.dropdown-menu::-webkit-scrollbar {
    /* width */
    width: 0.375rem;
}

.mz-dropdown__menu.dropdown-menu::-webkit-scrollbar-track {
    /* Track */
    background: #EDEDED;
    border-radius: 0.188rem;
}

.mz-dropdown__menu.dropdown-menu::-webkit-scrollbar-thumb {
    /* Handle */
    background: #D5D5D5;
    border-radius: 0.188rem;
}

.mz-dropdown__menu.dropdown-menu::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: #D5D5D5;
}

.dd-marke-check .mz-dropdown__option.--active::before {
    content: 'g';
    font-family: Amway Icon !important;
    /* font-family: 'amway-icon'; */
    color: #FFF;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.725rem;
    background: #2c2c2c;
}

.bundle-select-area .mz-integer-input__quantity.--active {
    border: 0.125rem solid #2c2c2c;
}

.bundle_input.set_zero.mz-integer-input__quantity.--active {
    border: 0.125rem solid #C3C4C5;
}

.bundle-select-area .set_zero.mz-integer-input__quantity.--active {
    border: 0.125rem solid #C3C4C5;
}

.btn-outlin-black,
.btn-outline-black {
    border: 0.125rem solid #2c2c2c;
}

.cbw-list-image.active {
    border: 0.125rem solid #2c2c2c;
}

.red-text-for-input {
    color: #D91734 !important;
}

.sub-text-for-label {
    font-size: 0.813rem;
    font-weight: 500;
    line-height: 1rem;
    color: #9EA0A3 !important;
}

.mz-integer-input {
    width: 6.25rem;
    height: 2.5rem;
}

.mz-integer-input__quantity.--active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 1.25rem;
    font-size: 1rem;
    font-weight: 700;
}

.input-pdp-q.mz-integer-input {
    width: 7.25rem;
    height: 3rem;
}

.input-pdp-q .mz-integer-input__quantity.--active {
    border-radius: 1.5rem;
}

.input-pdp-q .mz-integer-input__input {
    font-weight: 700;
}

.mz-integer-input__input {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.mod_mz-dropdown__menu {
    overflow: hidden;
    overflow-y: auto;
    width: calc(100% - 1rem);
    margin: 0.5rem;
}

.mod_mz-dropdown__menu::-webkit-scrollbar {
    /* width */
    width: 0.25rem;
}

.mod_mz-dropdown__menu::-webkit-scrollbar-track {
    /* Track */
    /*  background: #EDEDED; */
    border-radius: 0.125rem;
}

.mod_mz-dropdown__menu::-webkit-scrollbar-thumb {
    /* Handle */
    background: #929292;
    border-radius: 0.125rem;
}

.mod_mz-dropdown__menu::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: #D2D2D2;
}

.mod_mz-dropdown__menu .mz-dropdown__option {
    padding-left: 0.5rem;
    padding-right: 0;
}

.amway-checkbox-input {
    z-index: -999;
    position: absolute;
    opacity: 0;
}

.amway-checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #9EA0A3;
}

.amway-checkbox-icon {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    border: 0.125rem solid #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    cursor: pointer;
}

.amway-checkbox-input:checked~.amway-checkbox-label {
    color: #2c2c2c;
}

.amway-checkbox-input:checked~.amway-checkbox-label .amway-checkbox-icon {
    border: 0.125rem solid #2c2c2c;
    color: #2c2c2c;
}

.amway-checkbox-input:checked~.amway-checkbox-label .amway-checkbox-icon::after {
    content: 'g';
    font-family: Amway Icon !important;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #2C2C2C;
}

.amway-checkbox-area {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* .dropdown-backdrop {
    z-index: 1502;
} */

.mz-dropdown__close {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background: #ffffff;
    -webkit-box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.16);
    box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mz-dropdown__close::before {
    content: 'r';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    font-family: Amway Icon !important;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-top: 0.25rem;
    cursor: pointer;
}

.mz-dropdown__text {
    min-width: 0;
    overflow: hidden;
    white-space: unset;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.checkout-box-selectOption .mz-dropdown__option.--active .mz-dropdown__text {
    padding-right: 1rem;
}

.checkout-box-selectOption .mod_mz-dropdown__menu .mz-dropdown__option .mz-dropdown__text {
    -webkit-line-clamp: 2;
    word-break: break-word;
}

.checkout-box-selectOption .mz-dropdown__option.--active::before {
    content: 'g';
    font-family: Amway Icon !important;
    /* font-family: 'amway-icon'; */
    color: #FFF;
    font-weight: 700;
    font-size: 0.813rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background: #2c2c2c;
}

@media(max-width:1023px) {
    .filter-in.dd-marke-check .mz-dropdown__button {
        border: none;
        border-radius: 1.25rem;
    }
    .filter-in.dd-marke-check .mod_mz-dropdown__menu {
        min-height: 100%;
    }
    .filter-in .mz-dropdown__menu.dropdown-menu {
        border: none;
        border-radius: 0;
        z-index: 1503;
    }
    .filter-in .dropdown-backdrop {
        z-index: 1502;
    }
}