@import '../Common/variables.less';
@import '../Common/mixins.less';

.mz-cart-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;

  &__section {
    background: @colors[grey-100];
  }

  &__section:nth-child(2n) {
    @media screen and (min-width: @breakpoints[xl]) {
      background: @colors[white];
    }
  }

  &__form {
    flex: 1;
    margin-top: @spacing[s];

    @media screen and (min-width: @breakpoints[sm]) {
      .mz-container(
        @max-width: @cart-item-max-width,
        @side-spacing: @spacing[s]
      );
    }

    @media screen and (min-width: @breakpoints[xl]) {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: space-between;
      margin-top: @spacing[xl];
      margin-bottom: @spacing[xxxxl];

      .mz-container();
    }
  }

  &__header {
    margin: 0 @spacing[s] @spacing[xs];

    @media screen and (min-width: @breakpoints[sm]) {
      margin: 0 0 @spacing[xs];
    }

    @media screen and (min-width: @breakpoints[xl]) {
      flex: 0 1 100%;
      margin: 0 0 @spacing[m];
      padding: 0;
    }
  }

  &__title {
    @media screen and (min-width: @breakpoints[xl]) {
      .mz-font-style(heading-3, bold);
    }
  }

  &__content {
    @media screen and (min-width: @breakpoints[xl]) {
      flex: 1;
      min-width: 0;
      max-width: @cart-item-max-width;
      margin-right: @spacing[s];
    }
  }

  &__mobile-discount-title {
    margin: 0 @spacing[s] @spacing[xs];

    @media screen and (min-width: @cart-mobile-panel-width) {
      text-align: center;
    }

    @media screen and (min-width: @breakpoints[xl]) {
      display: none;
    }
  }

  &__discount-section {
    max-width: @cart-mobile-panel-width;
    margin: 0 auto;
    padding: @spacing[s];
    background: @colors[white];

    @media screen and (min-width: @breakpoints[sm]) {
      border-radius: @border-radiuses[s];
    }

    @media screen and (min-width: @breakpoints[xl]) {
      padding: 0;
      background: none;
    }
  }

  &__panel {
    margin-top: @spacing[s];

    @media screen and (min-width: @breakpoints[xl]) {
      flex: 0 0 380px;
      margin-top: 0;
    }
  }

  &__dim-layer {
    z-index: @z-indexes[cart-dim-layer];
  }

  &__mobile-panel {
    position: fixed;
    z-index: @z-indexes[cart-mobile-panel];
    right: 0;
    bottom: 0;
    left: 0;

    @media screen and (min-width: @breakpoints[xl]) {
      position: static;
    }
  }

  &__detail {
    position: absolute;
    z-index: @z-indexes[cart-mobile-detail];
    top: 0;
    right: 0;
    left: 0;
    transition: transform 0.2s;

    &.--active {
      transform: translateY(-100%);
    }

    @media screen and (min-width: @breakpoints[xl]) {
      position: static;

      &.--active {
        transform: none;
      }
    }
  }

  &__detail.--active &__show-detail {
    display: none;
  }

  &__detail:not(.--active) &__hide-detail {
    display: none;
  }

  &__detail.--active &__arrow {
    transform: scaleY(-1);
  }

  &__arrow {
    margin-left: @spacing[xs];
  }

  &__summary {
    position: relative;
    z-index: @z-indexes[cart-mobile-summary];
    transition: transform 0.5s;

    @media screen and (min-width: @breakpoints[xl]) {
      margin-top: @spacing[xxs];
      margin-bottom: @spacing[m];

      > *:not(:first-child) {
        margin-top: @spacing[xs];
      }
    }
  }

  &__detail-toggler {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    padding: @spacing[xs] @spacing[m];
    transform: translateY(-100%);
    border-top: solid 1px @colors[grey-200];
    background: @colors[white];
    user-select: none;

    .mz-font-style(small, bold);

    @media screen and (min-width: @breakpoints[xl]) {
      display: none;
      position: relative;
    }
  }
}
