@import './variables.less';
@import './mixins.less';

@side-padding: @spacing[s];

.mz-dropdown {
  @height: @input-height;

  width: 100%;
  user-select: none;

  &__label {
    display: flex;
    margin: 0 0 4px;
    color: @colors[grey-400];
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: @height;
    padding: 2px @side-padding;
    border: 1px solid @colors[grey-300];

    &:disabled {
      background: @colors[grey-100];
    }
  }

  &__button-text {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: left;

    &:not(.--selected) {
      color: @colors[grey-400];
    }
  }

  &__icon {
    margin-left: @spacing[xs];
    .mz-dropdown-icon();
  }

  &__button[aria-expanded='true'] &__icon {
    transform: scaleY(-1);
  }

  &__menu.dropdown-menu {
    width: auto;
    min-width: auto;
    .mz-dropdown-menu();
  }

  &__option {
    display: flex;
    align-items: center;

    .mz-dropdown-option(@side-padding);
  }

  &__option-image {
    width: 32px;
    height: 32px;
    margin-right: @spacing[s];
  }

  &__text {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h6 + & {
    margin-top: @spacing[s];
  }
}
