@import './variables.less';
@import '../Common/mixins.less';

.mz-input {
  @side-padding: @spacing[s];

  display: flex;
  position: relative;
  flex-direction: column;
  align-content: flex-end;
  width: 100%;

  input,
  textarea {
    .mz-input-like();
  }

  textarea {
    height: @textarea-height;
    padding: 12px @side-padding;
    resize: none;
  }

  &__icon {
    .mz-input-like-icon();
  }

  &__label {
    display: flex;
    margin: 0 0 4px;
    color: @colors[grey-300];
  }

  &__clear-button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: @spacing[l];
    height: @input-height;
    color: @colors[grey-300];
    font-size: @icon-sizes[s];

    &:hover {
      @media (hover: hover) {
        color: @colors[grey-400];
      }
    }

    &:not(.--active) {
      display: none;
    }
  }
}
