@import './variables.less';

.mz-font-style(@font-size; @font-weight: medium)
  when
  (@font-size = heading-1),
  (@font-size = heading-2),
  (@font-size = heading-3),
  (@font-size = heading-4),
  (@font-size = small),
  (@font-size = extra-small) {
  /* prettier-ignore */
  font-size: @font-sizes[ $@font-size];
  /* prettier-ignore */
  font-weight: @font-weights[ $@font-weight];
}
.mz-font-style(@font-size; @font-weight: text) {
  /* prettier-ignore */
  font-size: @font-sizes[ $@font-size];
  /* prettier-ignore */
  font-weight: @font-weights[ $@font-weight];
}

.mz-inline {
  flex: 1;
  width: auto;

  &:not(:last-child) {
    margin-right: @spacing[s];
  }
}

.mz-hidden-input {
  position: absolute;
  left: -9999px;
}

.mz-container(@max-width: @content-max-width, @side-spacing: @spacing[m]) {
  width: 100%;
  max-width: @max-width + @side-spacing * 2;
  margin-right: auto;
  margin-left: auto;
  padding-right: @side-spacing;
  padding-left: @side-spacing;
}

.mz-mobile-menu-item {
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex: none;
  align-items: center;
  height: @mobile-item-height;
  padding: 0 @spacing[s];
  border-bottom: solid 1px @colors[grey-200];
}

.mz-mobile-menu-item-indent {
  margin-left: @spacing[s];
  padding-right: @spacing[m];
}

.mz-menu-item-style {
  cursor: pointer;

  &.--outstanding {
    color: @colors[red-300];
  }
}

.multiline-ellipsis(
  @line-height: 25px,
  @line-no: 3,
  @auto-height: false,
) {
  @height: @line-height * @line-no;
  display: -webkit-box;
  height: if(@auto-height, auto, @height);
  max-height: @height;
  overflow: hidden;
  line-height: @line-height;
  white-space: normal;
  -webkit-line-clamp: @line-no;
  -webkit-box-orient: vertical;
}

.mz-dropdown-menu {
  position: fixed;
  top: auto;
  left: auto;
  margin-top: 0;
  padding: 0;
  overflow-y: auto;
  border: none;
  border-radius: 0;
  background: @colors[white];
  box-shadow: @shadows[xs];
}

.mz-dropdown-option(@side-padding) {
  position: relative;
  box-sizing: border-box;
  padding: @spacing[s] @side-padding;
  overflow: visible;
  transition: background 0.2s;
  cursor: pointer;

  .mz-font-style(body);

  &:not(:first-child),
  & + *:last-child {
    position: relative;
    margin-top: 1px;

    &:after {
      content: '';
      position: absolute;
      top: -1px;
      right: @side-padding;
      left: @side-padding;
      height: 1px;
      transition: background 0.2s;
      background: @colors[grey-200];
    }
  }

  &:hover,
  &.--active {
    background: @colors[grey-100];
  }

  &:hover,
  &.--active,
  &:hover + &,
  &.--active + &,
  &:hover + *:last-child,
  &.--active + *:last-child {
    &:after {
      background: transparent;
    }
  }
}
